<div class="container">
  <h1>To-Do List</h1>

  <div class="add-task">
    <input
      type="text"
      [(ngModel)]="newTask"
      (keyup.enter)="addTask()"
      placeholder="Enter a task">
    <button (click)="addTask()">Add</button>
  </div>

  <ul>
    @for (task of tasks; track $index) {
      <li>
        @if (task.editing) {
          <input
            type="text"
            [(ngModel)]="task.text"
            (keyup.enter)="saveTask($index)">
          <button (click)="saveTask($index)">Save</button>
        } @else {
          <span>{{ task.text }}</span>
          <button (click)="editTask($index)">Edit</button>
        }
        <button (click)="deleteTask($index)">Delete</button>
      </li>
    } @empty {
      <li class="empty">No tasks yet. Add one above.</li>
    }
  </ul>
</div>
